    :root {
        --nav-link-color: Sienna;
    }

    body {
        font-family: 'Open Sans';
        background: antiquewhite;
    }

    .content {
        margin: auto;
        max-width: 900px;
    }

    div.start {
        display: inline-block;
        vertical-align: top;
        width: 72px;
        background-color: rgb(165, 252, 247, 0.4);
        padding-left: 8px;
    }

    div.startOddIndent {
        display: inline-block;
        vertical-align: top;
        width: 72px;
        background-color: rgb(135, 206, 250, 0.4);
        padding-left: 8px;
    }

    div.bidtable {
        width: 900px;
    }

    div.bidtable ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    div.bidtable li ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 80px;
    }

    .ccolor {
        color: MediumSeaGreen
    }

    .dcolor {
        color: Orange
    }

    .hcolor {
        color: Red
    }

    .scolor {
        color: Black
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: rgb(0, 102, 204);
    }

    .top-link {
        z-index: 99;
        position: fixed;
        bottom: 5%;
        left: 95%;
    }

     @media all and (max-width: 699px) {
        .content {
            margin: 0.5%;
            font-size: small;
            max-width: 600px;
        }

        div.bidtable {
            width: 550px;
        }

        /*smaller font, compress the bid columns*/
        div.start {
            width: 48px;
            padding-left: 4px;
        }
        div.startOddIndent {
            width: 48px;
            padding-left: 4px;
        }

        .nav-links {
            display: none;
        }
    }

    @media all and (max-width: 799px) {
        .content {
            margin: 0.5%;
            font-size: small;
            max-width: 700px;
        }

        div.bidtable {
            width: 650px;
        }

        /*smaller font, compress the bid columns*/
        div.start {
            width: 48px;
            padding-left: 4px;
        }
        div.startOddIndent {
            width: 48px;
            padding-left: 4px;
        }

        .nav-links {
            display: none;
        }
    }

    @media all and (max-width: 899px) {
        .content {
            margin: 1%;
            font-size: normal;
            max-width: 800px;
        }

        div.bidtable {
            width: 750px;
        }

        .nav-links {
            display: none;
        }
    }

    @media all and (min-width: 900px) and (max-width: 1045px) {
        /*up to 1045*/
        .content {
            margin-right: 1%;
            font-size: small;
            max-width: 800px;
        }
        div.bidtable {
            width: 700px;
        }

        /*pair with smaller font*/
        div.start {
            width: 48px;
            padding-left: 4px;
        }
        div.startOddIndent {
            width: 48px;
            padding-left: 4px;
        }

        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 0%;
            width: 10%;
            font-size: small;
            color: var(--nav-link-color);
            overflow: auto;
            height: 97%;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 4px;
            margin-bottom: 2px;
            /*padding makes the link chunky, not the <a> */
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media all and (min-width: 1046px) and (max-width: 1179px) {
        .content {
            margin-right: 2%;
        }
        div.bidtable {
            width: 700px;
        }

        /*pair with smaller font*/
        div.start {
            width: 48px;
            padding-left: 4px;
        }
        div.startOddIndent {
            width: 48px;
            padding-left: 4px;
        }

        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 1%;
            width: 10%;
            font-size: small;
            color: var(--nav-link-color);
            overflow: auto;
            height: 97%;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 4px;
            margin-bottom: 2px;
            /*padding makes the link chunky, not the <a> */
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media all and (min-width: 1180px) {
        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 1%;
            width: 11.0%;
            font-size: small;
            color: var(--nav-link-color);
            overflow: auto;
            height: 97%;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 4px;
            margin-bottom: 2px;
            /*padding makes the link chunky, not the <a> */
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media all and (min-width: 1300px) {
        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 2%;
            width: 12.5%;
            font-size: small;
            color: var(--nav-link-color);
            overflow: auto;
            height: 97%;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 4px;
            margin-bottom: 2px;
            /*padding makes the link chunky, not the <a> */
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media all and (min-width: 1450px) {
        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 2%;
            width: 15%;
            font-size: small;
            color: var(--nav-link-color);
            overflow: auto;
            height: 97%;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 4px;
            margin-bottom: 2px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
