    body {
        font-family: 'Open Sans';
    }

    .content {
        margin: auto;
        max-width: 900px;
    }

    div.start {
        display: inline-block;
        vertical-align: top;
        width: 72px;
        background-color: rgb(165, 252, 247, 0.4);
        padding-left: 8px;
    }

    div.startOddIndent {
        display: inline-block;
        vertical-align: top;
        width: 72px;
        background-color: rgb(135, 206, 250, 0.4);
        padding-left: 8px;
    }

    div.bidtable {
        width: 900px;
    }

    div.bidtable ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    div.bidtable li ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 80px;
    }

    .ccolor {
        color: DarkBlue
    }

    .dcolor {
        color: Orange
    }

    .hcolor {
        color: Red
    }

    .scolor {
        color: Black
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: rgb(0, 102, 204);
    }

    .top-link {
        z-index: 99;
        position: fixed;
        bottom: 5%;
        left: 95%;
    }

    @media all and (min-width: 1150px) {
        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 2%;
            width: 10%;
            font-size: xx-small;
            color: green;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

    @media all and (min-width: 1300px) {
        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 2%;
            width: 12.5%;
            font-size: xx-small;
            color: green;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

    @media all and (min-width: 1450px) {
        .nav-links {
            z-index: 99;
            position: fixed;
            top: 1%;
            left: 2%;
            width: 15%;
            font-size: x-small;
            color: green;
        }

        .nav-links a {
            color: inherit;
        }

        .nav-links ul {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

    @media not all and (min-width: 1150px) {
        .nav-links {
            display: none;
        }
    }
